* {
  padding: 0;
  margin: 0;
}
body {
  height: calc(100vh - 40px);
  font-family: Arial, Helvetica, sans-serif;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 400px;

  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.3);
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
.status p {
  line-height: 30px;
  font-size: 1.2rem;
}
.btn {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
button {
  align-items: center;
  background-color: #69d3ee;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
